# Folders to ignore, whatever the place they are
 
.metadata
classes
hybris/bin/**/bin
gensrc
jalo
solr
licence
*.css
*.less
*.js
.project
.settings
# Folders to ignore at the root of the repository
log/
temp/
data/
licenses/
  
# filter only custom extension
bin/*
!bin/custom/
!config/local/config/
 
# Filename patterns to ignore
*.class
build.xml
Generated*.java
platformhome.properties
*testclasses.xml
extensioninfo.xsd
*hmc.jar
hmc.xsd
items.xsd
beans.xsd
ruleset.xml
*.log
base.properties



#  Addon specific copy folders
**/_ui/addons
**/views/addons
**/tld/addons
**/tags/addons
**/messages/addons
*_bof.jar
**/rebel.xml
config/local/backup/readme.txt
config/local/backup/.classpath
config/local/.classpath
config/local/backup/.project
config/local/*.project

.*
!**/.classpath
!**/.project
*.bak
*.class
*.log
*.build.xml
*.beans.xsd
*.extensioninfo.xsd
*.platformhome.properties
*.items.xsd
*.*-testclasses.xml
*.Generated*.java
*.hmc.jar
*.hmc.xsd
*.ruleset.xml 
*_bof.jar
*/rebel.xml
**/wro_addons.xml

**/classes/
**/gensrc/
**/src/**/jalo/
**/notused/
**/*storefront/web/commonwebsrc/
**/*storefront/web/webroot/cockpit/
**/*storefront/web/webroot/cmscockpit/
**/resources/*.xsd
**/*backoffice/resources/backoffice/*backoffice_bof.jar
**/*core/hmc/bin/*corehmc.jar

**/web/addonsrc/



